body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    font-family: Inter;
}
.card{
    background-color: hsl(0, 0%, 12%);
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
    min-width: 300px;
}
.image-container{
   
    display: flex;
    justify-content: center;
    margin: 10px 0px 25px;
    
}
.profile-pic{
    border-radius: 90px;
    height: 90px;
}
.name{
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}
.location{
    color: hsl(75, 94%, 57%);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}
.slogan{
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    font-weight: 150;
    margin-bottom: 20px;
    text-align: center;
}
button{
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border: 0;
    margin-bottom: 15px;
    height: 35px;
    padding: 5px;
}


.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
 }
.attribution a { color: hsl(228, 45%, 44%); }
